
/* regole generali */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

/* regole header */
header{
  height: 60px;
  margin:20px 30px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;

  }

 h1 {
    display: inline-block;
    padding-left: 60px;
    font-size: 40px;

    }


/* regole main, generali*/

main{
  width: 100%;
  margin: auto;
  background-color: #F6F8F9;
  padding-top: 30px;

}

nav, section{
  width: 70%;
  margin:auto;
  background-color:white;
  padding-left: 60px;
}

/* regole nav */
nav{
  padding-top: 20px;
  border-bottom: 1px solid lightgrey;
}

nav .button1{
border-radius: 10px;
border-color: #45ABEA;
background-color: #45ABEA;
color: white;
padding: 10px 15px;
margin-right: 8px;
margin-bottom: 20px;


}

nav .button2{
border-radius: 10px;
border-color: #DBDEE2;
background-color:white;
color: #DBDEE2;
padding: 10px 13px;

}


/* regole section */
section{
  padding-top: 20px;
  font-size: 17px;


}

.listaprinc{
 list-style-type: none;
}

.listadis{
  list-style-type: none;
  padding-top: 15px;


}

li{
  padding: 10px;

}

.editorial, .q1, .recruiting, .mobile, .mobile, .sales, .website{

  border-radius: 12px;
  color: white;
  padding: 5px;
  margin: 5px;
}




.tick, .cross{

  border-radius: 50%;
  padding-left: 3px;

}

.tick{
  border: 2px solid green;
  color: green;
  margin-right: 10px;
}

.cross{
  border: 2px solid red;
  color: red;
  margin-right: 10px;
}

.editorial{
  border-color: #45ABEA;
  background-color:#45ABEA;

}



.q1{
  background-color: #9C72E4;
  border-color: #9C72E4;

}

.recruiting{
  background-color:  #64C0A9;
  border-color: #64C0A9;

}


.mobile{
  background-color: #F29E33;
  border-color: #F29E33;

}


.website{
  background-color: #D863A1;
  border-color:#D863A1;

}


.sales{
background-color: #B0C926;
border-color: #B0C926;



}
